<link rel="stylesheet" href="/css/post.css">


<div id="new-post">
    <div>
        <b>
            <%=post.user.name%>
        </b>
    </div>
    <div>
        1 April
    </div>
    <br>
    <div>
        <%=post.content%>
    </div>
    <% if(post.avatar){%>
        <div>
            <img src="<%=post.avatar%>" height="400px" width="100%">
        </div>
        <% }%>
            <br>
            <div id="post-action">
                <% if(locals.user){%>
                    <div>
                        <a href="/">Like
                        </a>
                    </div>
                    <div>
                        <a href="/">Comment
                        </a>
                    </div>
                    <% }%>
                        <br>

                        <% if(locals.user && post.user.id==locals.user.id){%>
                            <div>
                                <a href="/post/delete-post/<%=post.id%>"><button type="submit">Delete
                                        Post</button></a>
                            </div>
                            <% }%>
            </div>

            <%if(locals.user){%>
                <form action="/comment/create-comment" method="POST">
                    <textarea name='content' cols="30" rows="2" placeholder="Write a Comment..........."
                        required></textarea>
                    <input type="hidden" name="post" value="<%=post._id%>">
                    <button type="submit">Comment</button>
                </form>
                <%}%>
                    <ol id="post-comment-<%=post._id%>">
                        <%for(comment of post.comments){%>
                            <%-include('_comment.ejs')-%>
                                <% }%>
                    </ol>
                    <br>
</div>